<% if (selected) { %>
.assigned-to-single-active
    .assigned-to-avatar
        a(
            href=""
            title="{{'COMMON.ASSIGNED_TO' | translate}}"
        )
            img(src!="<%- selected.photo %>")
    a.assigned-to-name(
        href="" 
        title!="<%- selected.full_name_display %>"
    )
        | <%-selected.full_name_display %>
    a.icon-delete.remove-assigned-to(
        href="" 
        title="{{'COMMON.ASSIGNED_TO.REMOVE_ASSIGNED' | translate}}"
    )
<% } %>

<% _.each(users, function(user) { %>
.assigned-to-single(data-user-id!="<%- user.id %>")
    .assigned-to-avatar
        a(
            href="#"
            title="{{'COMMON.ASSIGNED_TO.TITLE' | translate}}"
        )
            img(src!="<%- user.photo %>")
    a.assigned-to-name(
        href=""
        title!="<%- user.full_name_display %>"
    )
        | <%- user.full_name_display %>
<% }) %>

<% if (showMore) { %>
.more-watchers
    span(translate="COMMON.ASSIGNED_TO.TOO_MANY")
<% } %>
