section.profile-likes
    div.profile-filter
        div.searchbox
            span.icon-search
            input(type="text",
                  ng-model="vm.q",
                  ng-keyup="vm.filterByTextQuery()",
                  placeholder="Filter liked items")

        div.filters
            a(href="", ng-click="vm.showAll()",
              ng-class="{active: vm.type === null}",
              title="All",)
                | All
            a(href="", ng-click="vm.showProjectsOnly()",
              ng-class="{active: vm.type === 'project'}",
              title="All")
                | Projects
            a(href="", ng-click="vm.showUserStoriesOnly()",
              ng-class="{active: vm.type === 'userstory'}",
              title="Stories")
                | Stories
            a(href="", ng-click="vm.showTasksOnly()",
              ng-class="{active: vm.type === 'task'}",
              title="Tasks")
                | Tasks
            a(href="", ng-click="vm.showIssuesOnly()",
              ng-class="{active: vm.type === 'issue'}",
              title="Issues")
                | Issues

    div(ng-if="vm.likes === undefined")
         div.spin
             img(src="/svg/spinner-circle.svg", alt="Loading...")

    div(infinite-scroll="vm.loadLikes()",
        infinite-scroll-distance="4",
        infinite-scroll-disabled="vm.scrollDisabled")

        div(tg-repeat="item in vm.likes track by $index", ng-switch="item.get('type')")
            div(ng-switch-when="project", tg-like-item="item", item-type="project")
            div(ng-switch-when="userstory", tg-like-item="item", item-type="userstory")
            div(ng-switch-when="task", tg-like-item="item", item-type="task")
            div(ng-switch-when="issue", tg-like-item="item", item-type="issue")
