a.track-button.vote-button.vote-container(
    href=""
    title="{{ 'COMMON.VOTE_BUTTON.BUTTON_TITLE' | translate }}"
    ng-click="vm.toggleVote()"
    ng-class="{'active': vm.item.is_voted, 'downvote': vm.item.is_voted && vm.isMouseOver}"
    ng-mouseover="vm.showTextWhenMouseIsOver()"
    ng-mouseleave="vm.showTextWhenMouseIsLeave()"
)

    span.track-inner
        span.track-icon
            include ../../../svg/upvote.svg
        span(
            ng-if="!vm.item.is_voted",
            translate="COMMON.VOTE_BUTTON.UPVOTE"
        )
        span(ng-if="vm.item.is_voted && !vm.isMouseOver",
            translate="COMMON.VOTE_BUTTON.UPVOTED"
        )
        span(ng-if="vm.item.is_voted && vm.isMouseOver",
            translate="COMMON.VOTE_BUTTON.DOWNVOTE"
        )

    span.track-button-counter(title="{{ 'COMMON.VOTE_BUTTON.COUNTER_TITLE' | translate }}")
        | {{ vm.item.votes }}
